.viewer {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  overflow: hidden;
  outline: none;
}

.fullscreen-container .viewer {
  position: fixed !important;
  max-width: none;
  height: 100%;
}

.viewer:after {
  position: relative;
  display: block;
  content: "";
  padding-top: 60%;
  width: 100%;
  z-index: -1;
}

.viewer .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.viewer canvas {
  width: 100%;
  height: 100%;
}

.viewer video {
  position: absolute;
  visibility: hidden;
}

.play-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
}

.play-container .play {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  background: url(../img/play.svg) no-repeat;
  border: 0;
  background-size: 100% 100%;
}