<div class="chatBot">
    <div class="opened">

        <div class="user">
            <div id="bot-image"></div>
            <div id="bot-status">
                <h2>Hoohoop Chatbot</h2>    
            </div>
           <button class="cross" onclick="chatbotcloser()">
               <div class="line-1"></div>
               <div class="line-2"></div>
           </button>
        </div>

        <!-- chatbox -->
        <div class="chatbox" id="toAppend">

        </div>

        <!-- chatbox -->
        <div id="opt-buttons">
            <button id="confirm">YES</button> <button id="reject">NO</button>
        </div>
        <!-- input-box -->
        <form class="input-field" onload="botLoader()" onsubmit="return false" autocomplete="off">
            <input type="text" class="input-container" onclick ="inputtrack()"
             id="inputContainer" placeholder="Type your message here" 
             onfocus="this.placeholder = ''" 
             onblur="this.placeholder = 'Type your message here'"> 
            <button class="send-button" type="button" id="sendButton" onclick="createmessage()"><i class="fa fa-paper-plane"></i></button>
        </form>

        <!-- input-box -->

        <div class="copyright">&#169 copyright hoohoop.co.nz</div>

    </div>
    <div onclick="chatbotopener()" class="unOpened" ><i class="fas fa-comments-alt-dollar"></i></div>
</div>