<div class="chatbot_encloser">
  <div class="chatbox_opened">
    <div class="bg_head">
      <div class="logimgbot"><img src="/assets/images/chatbotlogo.png" /></div>
      <h1 id="btxt">Hoohoop Chatbot</h1>
      <button class="botcloser" onclick="chatbotClose()">
        <div class="closediv"></div>
        <div class="closediv"></div>
      </button>
    </div>
    <div id="chatter">
      <div id="toAppend"></div>
      <form action="" id="chat-form" autocomplete="off">
        <div id="wave">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
        <div id="input-manager">
          <div id="text-input">
            <input
              type="text"
              id="user-input"
              placeholder="Type your message here"
              onfocus="this.placeholder = ''"
              autofocus
              onblur="this.placeholder = 'Type your message here'"
            />
            <button type="submit" id="send-air">
              <i class="fad fa-paper-plane"></i>
            </button>
          </div>
          <div id="click-input">
            <button id="accept" type="submit">YES</button>
            <button id="reject" type="submit">NO</button>
          </div>
        </div>
      </form>
    </div>
    <div class="bg_foot">&copy; copyright hoohoop.co.nz</div>
  </div>
  <div class="chatbox_closed" onclick="chatbotOpen()">
    <i class="fas fa-comments-alt-dollar"></i>
  </div>
  <div class="ch_msg">
    <div class="fchatmsg"></div>
  </div>
</div>

<audio>
  <source src="/assets/audio/insight.mp3" />
</audio>
