<footer class="foot">
  <div class="social_wrap">
    <div>Copyright © 2019 HooHoop.co.nz</div>
    <div class="connect_with_us">
      <a href="https://www.instagram.com/hoohoopnz/" target="__blank">
        <div class="social"><i class="fab fa-instagram"></i></div>
      </a>
      <a href="https://www.facebook.com/HooHoopNZ/" target="__blank">
        <div class="social"><i class="fab fa-facebook-f"></i></div>
      </a>
      <a href="https://twitter.com/Hoohoop4/" target="__blank">
        <div class="social"><i class="fab fa-twitter"></i></div>
      </a>
    </div>
  </div>
  <div class="quick_links_wrap">
    <ul>
      <li>About Us</li>
      <li>FAQ</li>
      <li>Privacy Policy</li>
      <li>Terms Of Use</li>
      <li>Cancellation Policy</li>
      <li>Contact Us</li>
    </ul>
  </div>
</footer>
