<footer class="foot">
  <div class="social_wrap">
    <div class="cpyrght">Copyright © 2019 HooHoop.co.nz</div>
    <div class="connect_with_us">
      <a href="https://www.instagram.com/hoohoopnz/" target="__blank">
        <div class="social"><i class="fab fa-instagram"></i></div>
      </a>
      <a href="https://www.facebook.com/HooHoopNZ/" target="__blank">
        <div class="social"><i class="fab fa-facebook-f"></i></div>
      </a>
      <a href="https://twitter.com/Hoohoop4/" target="__blank">
        <div class="social"><i class="fab fa-twitter"></i></div>
      </a>
    </div>
  </div>
  <div class="quick_links_wrap">
    <ul>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li><a href="/terms-of-use">Terms Of Use</a></li>
      <li><a href="/cancellation-policy">Cancellation Policy</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
    </ul>
  </div>
</footer>
