<header class="Head">
    <div class="ajax-wrapper">
        <div class="logo">
            <a href="/">
                <img src="/assets/images/Logo.png">
            </a>
        </div>
        <div class="search-engine">
            <form action="/search-car/" method="GET" autocomplete="off">
            <input type="text" placeholder="Search Car or Brands" class="search-box" name="item">
            <button class="mag-search" role="button">
                <i class="fal fa-search"></i>
            </button>
            </form>
        </div>
        <div class="user-panel">
            <% if (user){ %>
                <div>Hi, <%=user.firstName %></div>
                <div class="userico" onclick="userinfo()">
                    <i class="fad fa-user-circle"></i>
                    <div class="user_options">
                        <a href="/dashboard"><div class="userprofile">My Profile</div></a>
                        <a href="/my-ads"><div class="userlistings">My Listings</div></a>
                        <a href="/logout"><div class="userlogout">Logout</div></a>
                    </div>
                </div>
            <% } else { %>
                <a href="/login">
                    <div class="login-btn">Login</div>
                </a>
                <a href="/sign-up">
                    <div class="login-btn sign-up">sign up</div>
                </a>
            <% } %>

        </div>
      </form>
    </div>
   
  </div>
  <div class="menu-wrapper">
    <ul>
      <a href="/"><li>HOME</li></a>
      <a href="/sell-car"><li>SELL CAR</li></a>
      <a href="/search-car/1"><li>BUY CAR</li></a>
    </ul>
  </div>
</header>
