<header class="Head">
    <div class="ajax-wrapper">
        <div class="logo">
            <a href="/">
                <img src="/assets/images/Logo.png">
            </a>
        </div>
        <div class="search-engine">
            <form action="/search-car/1" method="GET" autocomplete="off">
            <input type="text" placeholder="Search Car or Brands" oninput="this.value = this.value.toUpperCase();" name="enquiry">
            <button class="mag-search" role="button">
                <i class="fal fa-search"></i>
            </button>
            </form>
        </div>
        <div class="user-panel">
            <% if (user){ %>
                <div>Hi, <%=user.firstName %></div>
                <div class="userico">
                    <i class="fad fa-user-circle"></i>
                    <div class="user_options">
                        <a href="/dashboard"><div class="userprofile">My Profile</div></a>
                        <a href="/my-ads"><div class="userlistings">My Listings</div></a>
                        <a href="/logout"><div class="userlogout">Logout</div></a>
                    </div>
                </div>

                <script src="/assets/scripts/userlog.js"></script>
            <% } else { %>
                <a href="/login">
                    <div class="login-btn">Login</div>
                </a>
                <a href="/sign-up">
                    <div class="login-btn sign-up">sign up</div>
                </a>
            <% } %>

        </div>

        <div class="hamburger" onclick="hamoperation(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
   
  <div class="menu-wrapper">
    <ul>
      <a href="/"><li>HOME</li></a>
      <a href="/sell-car"><li>SELL CAR</li></a>
      <a href="/search-car/1"><li>BUY CAR</li></a>
    </ul>
  </div>

  <div class="ham_menu">
    <% if (user){ %>
        <div class="headtext">Hi, <%=user.firstName %></div>
        <button class="se_btn" onclick="window.location.href = '/dashboard'">My Profile</button>
        <button class="se_btn" onclick="window.location.href = '/my-ads'">My Listings</button>
        <button class="se_btn" onclick="window.location.href = '/logout'">Logout</button>
    <% } else { %>
        <button class="ham_options" onclick="search()">Search</button>
        <button class="ham_options" onclick="window.location.href = '/login'">Login</button>
        <button class="ham_options" onclick="window.location.href = '/sign-up'">Sign Up</button>

        <div class="search_active vanish">
            <form action="/search-car/1" method="GET" autocomplete="off">
            <input type="text" oninput="this.value = this.value.toUpperCase();" placeholder="Search Car or Brands" name="enquiry">
            <div class="s_ac_btn">
                <button class="se_btn" type="submit" role="button">Search</button>
                <div class="se_btn" onclick="search_deactivate()">Return</div>
            </div>
        </form>
        </div>
    <% } %>

</header>

<script>
    function hamoperation(x){
        x.classList.toggle("change");
        document.getElementsByClassName("ham_menu")[0].classList.toggle("ham_menu_show")
        if(x.classList.contains("change")){
            document.getElementsByTagName("html")[0].style.overflow = "hidden"
        }
        else{
            document.getElementsByTagName("html")[0].removeAttribute("style")
        }
    }

    function search(){
        let prevopt = document.getElementsByClassName("ham_options")
        
        for(let unt = 0; unt < prevopt.length ; unt++){
            prevopt[unt].classList.add("vanish")
        }

        document.querySelector(".search_active").classList.remove("vanish")
    }

    function search_deactivate(){
        let prevopt = document.getElementsByClassName("ham_options")

        document.querySelector(".search_active").classList.add("vanish")

        for(let unt = 0; unt < prevopt.length ; unt++){
            prevopt[unt].classList.remove("vanish")
        }
    }

</script>
