<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
</head>
<body>
    <%-include('./Components/Header.ejs') %>

    <div class="about-us-wrapper">

        <div class="uspques">
            <div class="quest">
                <h1>Why Us?</h1>
                <p>HooHoop is an online platform which is designed to help with both the buying and selling process of new and used vehicles. We understand that buying or selling a vehicle is a big deal, so we look to make this easier for both parties by providing an authentic and informative service.</p>
            </div>
    
            <div class="quest">
                <h1>What do we do?</h1>
                <p>We provide a 360 service which shows all the angles of the external aspects of the vehicle, along with a virtual 360 internal tour. We give you the closest thing to a ‘real life’ experience, allowing you to visually examine the car as you please, along with the opportunity to book a test drive or pre-inspection should you desire this.</p>
            </div>
    
            <div class="quest">
                <h1>Why HooHoop?</h1>
                <p>HooHoop is not the seller of the vehicle, but instead is the ‘middle man’ to help support both potential buyer and sellers. You can look at us as the building the trust in the relationship! HooHoop is the first company in NZ to offer this 360 virtual experience and by doing so saves plenty of time, so you can browse in front of your screen at home without any external pressure.</p>
            </div>
        </div>

    <span class="moto">We don’t just sell vehicles here at HooHoop, we promote stress-free, joyful trading.</span>        
        <h1 class="teamtag">Our Team</h1>
    <div class="team">
        <div class="team-mem">
            <div class="intro">
                <img src="/assets/images/Team/Mana.jpg" alt="">
                <h1>Mana</h1>
                <h2>(Marketing)</h2>
            </div>
            <div class="bio">
                Mana have over 15 years of knowledge and experience in customer service, he is passionate and set high expectations to help you as the client to achieve the outcome you desire.
            </div>
        </div>
        <div class="team-mem">
            <div class="intro">
                <img src="/assets/images/Team/Ton.jpg" alt="">
                <h1>Leighton</h1>
                <h2>(Marketing)</h2>
            </div>
            <div class="bio">
                Leighton brings expertise around social media and marketing, having been a big factor behind the social media success of Canterbury Weather Updates, bringing more than 90,000 followers to the page.
            </div>
        </div>
        <div class="team-mem">
            <div class="intro">
                <img src="/assets/images/Team/Paul.jpg" alt="">
                <h1>Paul Skene</h1>
                <h2>(Mentor)</h2>
            </div>
            <div class="bio">
                Paul is a Franchise Owner for Pit Stop in Canterbury. He brings over 29 years of experience to the industry. He is on the advisory board for HooHoop.
            </div>
        </div>
    </div>
    </div>

    <%-include('./Components/Footer.ejs') %>
</body>
</html>