<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HooHoop - Buy Car</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <script src="/assets/scripts/script.js"></script>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/ico" sizes="16*16">
</head>

<body class="preloader">

    <%-include('./Components/Header.ejs') %> 
    <!-- navbar end -->

    <div class="bc_card">
        <div class="bcimg_sec"><img src="../assets/images/3.jpg"></div>
        
        <div class="inf_sec">
            <div class="locate">
                <span>Manaku-Aukland</span>
                <span>listed today</span>
            </div>
        

            <div class="c_deta_sec">
                <h2 class="c_nme">2006 Mazda Atenza</h2>
                <h3 class="c_tpe">Sports 20c**1</h3>
                <p class="odo_rding">100,290km</p>
                <p>
                    <span class="e-sze">2000cc,</span>
                    <span class="f_tpe"> Petrol</span>
                </p>
                <p class="tmssn">Automatic</p>
            </div>

            <div class="price">
                <div class="as_p"><span>Asking price:  </span>$7990</div>
                <div class="on_r_cst_1">Excludes On Road Costs</div>
            </div>
        </div>
    </div>
</body>

</html>