<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
</head>
<body>
    <%-include('./Components/Header.ejs') %>

    <div class="cancel_policy">
      <h1>Cancellation Policy</h1>
      <p>HooHoop requires advance notice if you need to cancel or amend your Pre-Purchase Inspection booking. Cancellations made before 4pm on the Business Day prior to the Pre-Purchase Assessment booking will receive a full refund less our $10 admin fee. There will be no refund should a cancellation occur after 4pm on the business day prior, or if the vehicle is not brought to the booked site.</p>
      <p>To cancel your booking (before 4pm on the Business Day prior) and arrange your refund, please email us at info@hoohoop.co.nz (or call us on 0211143347). To amend your booking to a different time at the same testing station, liaise directly with the HooHoop branch where the Pre-Purchase Assessment is booked. </p>
      <p>A Business Day refers to Monday to Friday and does not include Saturday, Sunday and Public holidays. HooHoop reserves the right to change or move your booking due to any unforeseen circumstances.</p>
    </div>

    <%-include('./Components/Footer.ejs') %>
</body>
</html>