<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <title>HooHoop</title>
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
  </head>
  <body onload="tradeHandle()">
    <%-include('./Components/Header.ejs') %>
    <div class="dash_wrapper">
      <div class="dashfeature">
        <%-include('./Components/sidebar.ejs') %>
        <!-- Trade Request -->
        <div class="fet_det">
          <h1 class="feature_head">Trade details</h1>

          <div class="table_container">
            <table class="table_S">
              <tr id="tradeinfo">
                <th>S.No</th>
                <th>Customer Email</th>
                <th>Customer Phone</th>
                <th>Car Plate No</th>
                <th>Coupon For</th>
                <th>Coupon Code</th>
                <th>Coupon Amount</th>
                <th>Date Redeemed</th>
                <th>Status</th>
                <th>Delete</th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Trade Request -->
    <%-include('./Components/Footer.ejs') %>
  </body>
</html>
