<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <title>HooHoop</title>
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
  </head>
  <body>
    <%-include('./Components/Header.ejs') %> <% if(user){%>
      <div class="dash_wrapper">

        <div class="dashfeature">
          <div class="sidebar">

            <div class="hamburger">
              <div class="hambar"></div>
              <div class="hambar"></div>
              <div class="hambar"></div>
            </div>
  
  
            <div class="sbar_options">
              <div class="sopt"></div>
              <div class="sopt"></div>
              <div class="sopt"></div>
              <div class="sopt"></div>
            </div>
  
          </div>

          <div class="fet_det">
            <h1 class="feature_head">Profile</h1>

          <div class="Usercred">
            <form>
              
              <div class="credcontainer">
                <label for="d_cred_fnme">First Name</label>
                <input type="text" id="d_cred_fnme">
              </div>

              <div class="credcontainer">
                <label for="d_cred_lnme">Last Name</label>
                <input type="text" id="d_cred_lnme">
              </div>

              <div class="credcontainer">
                <label for="d_cred_mail">Email</label>
                <input type="text" id="d_cred_mail">
              </div>

              <div class="credcontainer">
                <h2>Account Management</h2>
                <input type="text">
                <input type="text">
                <input type="text">
              </div>

              <div class="credcontainer">
                <h2>Contact Details</h2>

                <select name="district" id="u_district">
                  <option value="default" disabled>Select district</option>
                  <option value="CHCITY">Christchurch City</option>
                </select>
              </div>

              <div class="credcontainer">
                <label for="d_cred_num">Mobile Number</label>
                <input type="text">

                <label for="d_cred_address">Address</label>
                <input type="text">
              </div>

            </form>
          </div>
          </div>
        </div>

      </div>
    <% } %> <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/script.js"></script>
    <script src="/assets/scripts/dashboard.js"></script>
  </body>
</html>
