<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HooHoop</title>
</head>
<body>
    <h1><%= ErrorCode %></h1>
    <h2><%= ErrorMsg %></h2>
</body>
</html>