<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-164499415-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-164499415-1");
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/FAQ.css" />
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
</head>
<body>
    <%-include('./Components/Header.ejs') %>

    <div class="FAQ-wrapper">
      <h1>FREQUENTLY ASKED QUESTIONS</h1>

      <div class="quest">
        <h2> <span>Q.</span> How are we different than other players in the New Zealand Market?</h2>
        <p> <span>A: </span> Our passion for creating an honest platform with 100% transparency to efficiently buy and sell vehicles is what differentiates us from others. By providing our 360 virtual tour, you are able to get a great feel for the vehicle. The clarity and different angles you can access allows you to check for any internal or external damage, there is nowhere to hide! </p>
      </div>
      <div class="quest">
        <h2> <span>Q.</span> What is HooHoop?</h2>
        <p> <span>A:</span> In a nutshell, Hoohoop is an online marketplace purpose designed for Kiwi’s to make the selling and buying process of cars more simplistic and transparent, therefore giving you the confidence you deserve with your asset and investment! </p>
      </div>
      <div class="quest">
        <h2> <span>Q.</span> How easy it is to list my car with HooHoop?</h2>
        <p> <span>A:</span> Easily done! Simply head along to the ‘Sell Your Car’ section of our website and complete the following steps below: 
          <ul>
            <li>Enter your vehicle number plate</li>
            <li>Fill in all the details regarding your vehicle from our user friendly form.</li>
            <li>At the bottom of the form, request a 360 virtual service</li>
            <li>Your car will be listed once the virtual experience has been created.</li>
          </ul>
          <span id="NB-warning">NB: There is a small fee associated with the listing of your vehicle.</span>
        </p>
      </div>
      <div class="quest">
        <h2> <span>Q.</span> Is it mandatory to request the 360 virtual experience to be created for your vehicle?</h2>
        <p> <span>A:</span> Yes and there is a couple of main reasons for this. We only list vehicles that have this completed because we are about promoting authenticity and confidence to the potential buyer, but this also increases the chance of a purchase for the seller. It is important that the customer gets to have a ‘real life’ experience and that the seller gets their vehicle promoted to a high standard. </p>
      </div>
      <div class="quest">
        <h2> <span>Q.</span> What types of cars can be listed on HooHoop.co.nz? </h2>
        <p> <span>A:</span> There are no restrictions regarding listing any sort of cars, in which are available in New Zealand. You can even list: Hatchback, Sedan, MPV, SUV, Crossover, Coupe, and even convertibles on the website. </p>
      </div>
      <div class="quest">
        <h2> <span>Q.</span> How to make an online payment; do you save our credit/debit card details? </h2>
        <p> <span>A:</span> You can pay online using any credit/debit, visa or master-card. Internet banking is also available if this suits your needs. We do not save any information about your card; and all the information processed is fully encrypted. </p>
      </div>
      <div class="quest">
        <h2> <span>Q.</span> What if I want to know more about the car? </h2>
        <p> <span>A:</span> We request and ask the seller when they are going through the process of uploading the details to provide a holistic overview of what the buyer would be looking to see, so when complete these details are available in the public domain. If you need additional details; you can make a query from the car description page directly to the car owner to seek clarification if required.</p>
      </div>
      <div class="quest">
        <h2> <span>Q.</span>Can I take a test drive of the car?</h2>
        <p> <span>A:</span> Why not? Seeing is believing! We encourage you to take a test drive by requesting for a test drive directly from the website. You can determine a convenient schedule that works for both parties to take the car for a spin! </p>
      </div>
      <div class="quest">
        <h2> <span>Q.</span> What is your selling plan refund policy?</h2>
        <p> <span>A:</span> For refund policy please visit <a href="/privacy-policy">Privacy Policy</a>.</p>
      </div>
      <div class="quest">
        <h2><span>Q.</span> How do I get in touch with HooHoop? </h2>
        <p><span>A:</span> You can call us on <a href="tel:021-114-3347">(021) 114-3347</a> or email us at <a href="mailto:info@hoohoop.co.nz" target="__blank">info@hoohoop.co.nz</a>
        <br>
        Alternatively, you can contact us through private message on our HooHoop Facebook Page.
        <br>
        or, just simply send us your query through our <a href="/contact-us">Contact Us</a> page.
        </p>
      </div>
    </div>

    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/script.js"></script>
</body>
</html>