<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <title>HooHoop</title>
</head>

<body>
    <!--Navbar-->
    <nav class="Head">
        <div class="ajax-wrapper">
            <div class="logo">
                <img src="/assets/images/Logo.png" alt="">
            </div>
            <div class="search-engine">
                <form method="POST">
                <input type="text" placeholder="Search Car or Brands" class="search-box">
                <div class="mag-search" role="button">
                    <i class="fal fa-search"></i>
                </form>
                </div>
            </div>
            <div class="user-panel">
                <div class="login-btn">Login</div>
                <div class="login-btn sign-up">sign up</div>
            </div>
        </div>
        <div class="menu-wrapper">
            <ul>
                <li>HOME</li>
                <li>SELL CAR</li>
                <li>BUY CAR</li>
            </ul>
        </div>
    </nav>  
    <!--Navbar-end-->
    
    <!--Slider-->
    <div class="slider">
        <div class="buy_car_wrapdiv">
        <div class="buy-car">
            <div class="card_headline">Need a Car ?</div>
            <form method="POST" class="data_fetch">
            <div class="card_input_info">
                <div class="vehicle_state input_div">
                    <select name="State" id="v-state">
                        <option value="">New</option>
                        <option value="1">Used</option>
                    </select>
                </div>
                <div class="vehicle_budget input_div">
                    <select name="Budget" id="v-budget">
                        <option value="">Select Budget</option>
                    </select>
                </div>
                <div class="vehicle_info_wrap input_div">
                    <select name="Type" id="v-type">
                        <option value="">Select Vehicle Type</option>
                    </select>
                </div>
            </div>
            <div class="submit_input_info">
                <button class="submit_data">submit</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    <!--Slider-end-->

    <!--Home-content-->
    <div class="car_data_wrapper">
        <div class="card_head">
            <div class="car_type_filter">
                <h1>Popular Cars</h1>
                <div class="filter_item">
                    <ul>
                    <li class="item_content selected_item" style="color: orange;">Hatchback</li>
                    <li class="item_content">Sedan</li>
                    <li class="item_content">SUV</li>
                    <li class="item_content">Luxury</li>
                    <ul>
                </div>
                <hr />
            </div>
            <div class="car_data_info_card">
                <div class="car_data_card">
                    <div class="car_image_data"><img src="../assets/images/1BMW.jpg" alt=""></div>
                    <div class="car_fetched_info">
                        <div class="fetched_data">
                            <h4>BMW I6</h4>
                            <h3>$ 15000-20000</h3>
                        </div>
                        <button class="view-details" type="submit">View details</button>
                    </div>
                </div>
                <div class="car_data_card">
                    <div class="car_image_data"><img src="../assets/images/1BMW.jpg" alt=""></div>
                    <div class="car_fetched_info">
                        <div class="fetched_data">
                            <h4>BMW I6</h4>
                            <h3>$ 15000-20000</h3>
                        </div>
                        <button class="view-details" type="submit">View details</button>
                    </div>
                </div>
                <div class="car_data_card">
                    <div class="car_image_data"><img src="../assets/images/1BMW.jpg" alt=""></div>
                    <div class="car_fetched_info">
                        <div class="fetched_data">
                            <h4>BMW I6</h4>
                            <h3>$ 15000-20000</h3>
                        </div>
                        <button class="view-details" type="submit">View details</button>
                    </div>
                </div>
                <div class="car_data_card">
                    <div class="car_image_data"><img src="../assets/images/1BMW.jpg" alt=""></div>
                    <div class="car_fetched_info">
                        <div class="fetched_data">
                            <h4>BMW I6</h4>
                            <h3>$ 15000-20000</h3>
                        </div>
                        <button class="view-details" type="submit">View details</button>
                    </div>
                </div>
                <div class="car_data_card">
                    <div class="car_image_data"><img src="../assets/images/1BMW.jpg" alt=""></div>
                    <div class="car_fetched_info">
                        <div class="fetched_data">
                            <h4>BMW I6</h4>
                            <h3>$ 15000-20000</h3>
                        </div>
                        <button class="view-details" type="submit">View details</button>
                    </div>
                </div>
                <div class="car_data_card">
                    <div class="car_image_data"><img src="../assets/images/1BMW.jpg" alt=""></div>
                    <div class="car_fetched_info">
                        <div class="fetched_data">
                            <h4>BMW I6</h4>
                            <h3>$ 15000-20000</h3>
                        </div>
                        <button class="view-details" type="submit">View details</button>
                    </div>
                </div>
                <div class="car_data_card"> <div class="car_image_data"><img src="../assets/images/1BMW.jpg" alt=""></div>
                <div class="car_fetched_info">
                    <div class="fetched_data">
                        <h4>BMW I6</h4>
                        <h3>$ 15000-20000</h3>
                    </div>
                    <button class="view-details" type="submit">View details</button>
                </div></div>
                <div class="car_data_card"> <div class="car_image_data"><img src="../assets/images/1BMW.jpg" alt=""></div>
                <div class="car_fetched_info">
                    <div class="fetched_data">
                        <h4>BMW I6</h4>
                        <h3>$ 15000-20000</h3>
                    </div>
                    <button class="view-details" type="submit">View details</button>
                </div></div>
            </div>
            <div class="view_all_selected_v-type">
                <hr />
                <div>View All</div>
            </div>
        </div>
    </div>
</body>

</html>