<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <title>HooHoop</title>
</head>

<body>
    <nav class="Head">
        <div class="ajax-wrapper">
            <div class="logo">
                <img src="/assets/images/Logo.png" alt="">
            </div>
            <div class="search-engine">
                <input type="text" placeholder="Search Car or Brands" class="search-box">
                <div class="mag-search">
                    <i class="fal fa-search"></i>
                </div>
            </div>
            <div class="user-panel">
                <div class="login-btn">Login</div>
                <div class="login-btn sign-up">sign up</div>
            </div>
        </div>
        <div class="menu-wrapper">
            <ul>
                <li>HOME</li>
                <li>SELL YOUR CAR</li>
                <li>BUY CAR</li>
                <li>FINANCE</li>
            </ul>
        </div>
    </nav>

    <div class="slide">
        <div class="sell-car">
            <div class="card-heading">sell your car</div>
            <div class="form">
            <form action="" method="POST">
                <input type="text" class="input-region" placeholder="Brand" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Brand'">
                <input type="text" class="input-region" placeholder="Model" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Model'">
                <select name="sell-car-dropdown" id="option-dropdown" class="input-region dropdown">
                    <option value="">NEW</option>
                    <option value="1">VINTAGE</option>
                    <option value="2">USED</option>
                </select>
                <button class="submit-btn" type="submit">SUBMIT</button>
            </form>
        </div>   
        </div>
    </div>

    <div class="Heading-enclosure">
        <h2 class="content-heading">
            <span class="heading">Want to Sell?</span><br />
            <span class="heading">It's easy and stress free</span>
            <br />
            <span class="subheading">Follow the steps below</span>
        </h2>
    </div>

    <div class="Process-wrapper">
        <div class="process-item"></div>
        <div class="process-item"></div>
        <div class="process-item"></div>
        <div class="process-item"></div>

        <div class="arrow-division">
            <div class="arrow-right"><i class="fal fa-chevron-right"></i></div>
            <div class="arrow-right"><i class="fal fa-chevron-right"></i></div>
            <div class="arrow-right"><i class="fal fa-chevron-right"></i></div>
        </div>
    </div>
</body>

</html>