<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HooHoop - Login</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <script src="/assets/scripts/script.js"></script>
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
  </head>
  <body>
    <%-include('./Components/Header.ejs') %>
    <div class="reg_body">
    <div class="card">
      <div class="hlogin"><img src="../assets/images/Logo.png" alt="" /></div>

      <form action="/login" method="POST">
        <%-include('./Flash/message.ejs') %>
        <div class="form-group">
          
          <input
            type="email"
            id="email"
            name="email"
            class="form-input"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          
          <input
            type="password"
            id="password"
            name="password"
            class="form-input"
            placeholder="Password"
          />
        </div>
        <div class="lbtnen"><button type="submit" class="button-2">Login</button></div>
      </form>
      <div class="log_links">
        <p class="reg_link">No Account? <a href="/sign-up">Register</a></p>
        <p class="reg_link"><a class="f_pass" href="/user/reset-password">Forgot Password</a></p>
      </div>
    </div>
  </div>
    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/flasher.js"></script>
  </body>
</html>
