<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/ico" sizes="16*16">
    <title>HooHoop</title>
</head>
<body>  
    <%-include('./Components/Header.ejs') %>
    <!-- navbar end -->
    <div class="sellform_wrap">
    <div class="VIN-input">
        <form  id="jamFORM" autocomplete="off">
            <div id="error-flash"></div>
            <h1 class="sell_head">Tell Us About the Vehicle you are selling</h1>
            <div class="ip_box">
                <input type="text" class="v_enter" placeholder="Enter your number plate or VIN" name="vinFigure" id="vinFigureID" oninput="this.value = this.value.toUpperCase();" autofocus>
                <button type="submit">FIND</button>
                <h6 class="form_see" onclick="showform()"><div id="styledanchor">Or Enter details Manually</div></h6>
            </div>
            
        </form>
        <%-include('./Components/Loader.ejs') %>
        <div class="car_info vanish" id="car_jam">
            <h1 id="checkDet">Check your car details</h1>
        </div>
    </div>
    <span id="PriceIndicator"></span>
    <div class="sell_form_submission vanish" id="SELL-FORM-SUB">
            <div class="form_inp">
                
                <form id="uploadForm">
                    <div class="form_head">
                        <h1>selling price</h1>
                        <input type="text" placeholder="Preferred Selling Price" name="Price" required autocomplete="off">
                        <input type="text" placeholder="Minimum Selling Price" name="minPrice" required autocomplete="off">
                    </div>
                    
                    <div class="input-wrapper">
                        <span> Select Make </span>
                        <select name="Make" id="smake" class="select-tag" onchange="ModelAccumlator()" required>
                            <option value="" id="makeExchange">Select Make</option>
                            <option value="" disabled>----------------------</option>
                            <option value="ALFA ROMEO">ALFA ROMEO</option>
                            <option value="ASTON MARTIN">ASTON MARTIN</option>
                            <option value="AUDI">AUDI</option>
                            <option value="AUSTIN">AUSTIN</option>
                            <option value="BMW">BMW</option>
                            <option value="CADILLAC">CADILLAC</option>
                            <option value="CHEVROLET">CHEVROLET</option>
                            <option value="CHRYSLER">CHRYSLER</option>
                            <option value="DAEWOO">DAEWOO</option>
                            <option value="DODGE">DODGE</option>
                            <option value="FERRARI">FERRARI</option>
                            <option value="FIAT">FIAT</option>
                            <option value="FORD">FORD</option>
                            <option value="FOTON">FOTON</option>
                            <option value="GMC">GMC</option>
                            <option value="HAVAL">HAVAL</option>
                            <option value="HOLDEN">HOLDEN</option>
                            <option value="HONDA">HONDA</option>
                            <option value="HUMMER">HUMMER</option>
                            <option value="HYUNDAI">HYUNDAI</option>
                            <option value="INFINITI">INFINITI</option>
                            <option value="ISUZU">ISUZU</option>
                            <option value="IVECO">IVECO</option>
                            <option value="JAGUAR">JAGUAR</option>
                            <option value="JEEP">JEEP</option>
                            <option value="KIA">KIA</option>
                            <option value="LAND ROVER">LAND ROVER</option>
                            <option value="LEMBO">LEMBO</option>
                            <option value="LEXUS">LEXUS</option>
                            <option value="LOTUS">LOTUS</option>
                            <option value="MAHINDRA">MAHINDRA</option>
                            <option value="MASERATI">MASERATI</option>
                            <option value="MCLAREN">MCLAREN</option>
                            <option value="MERCEDES BENZ">MERCEDES BENZ</option>
                            <option value="MG">MG</option>
                            <option value="MINI">MINI</option>
                            <option value="MITSUBISHI">MITSUBISHI</option>
                            <option value="NISSAN">NISSAN</option>
                            <option value="OPEL">OPEL</option>
                            <option value="PEUGEOT">PEUGEOT</option>
                            <option value="PORSCHE">PORSCHE</option>
                            <option value="RAM">RAM</option>
                            <option value="RENAULT">RENAULT</option>
                            <option value="RENAULT">RENAULT</option>
                            <option value="ROLLS ROYCE">ROLLS ROYCE</option>
                            <option value="ROVER">ROVER</option>
                            <option value="SAAB">SAAB</option>
                            <option value="SKODA">SKODA</option>
                            <option value="SMART">SMART</option>
                            <option value="SSANGYONG">SSANGYONG</option>
                            <option value="SUBARU">SUBARU</option>
                            <option value="SUZUKI">SUZUKI</option>
                            <option value="TESLA">TESLA</option>
                            <option value="TOYOTA">TOYOTA</option>
                            <option value="TRIUMPH">TRIUMPH</option>
                            <option value="TVR">TVR</option>
                            <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                            <option value="VOLVO">VOLVO</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Select Model </span>
                        <select name="Model" id="smodel" class="select-tag" required>
                                <option value="" id="modelExchange">Select Make First</option>
                                <option value="" disabled>----------------------</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Select Model Year </span>
                        <select name="ModelYear" id="smodelyear" class="select-tag" required>
                            <option value="" id="mYearExchange">Select Model Year</option>
                            <option value="" disabled>----------------------</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span>Body Type</span>
                        <select name="BodyType" id="sbodytype" class="select-tag" required>
                            <option value="" id="bodyExchange">Select Body Type</option>
                            <option value="" disabled>----------------------</option>
                            <option value="Convertible">Convertible</option>
                            <option value="Hatchback">Hatchback</option>
                            <option value="Heavy Van">Heavy Van</option>
                            <option value="Light Van">Light Van</option>
                            <option value="Station Wagon">Station Wagon</option>
                            <option value="Utility">Utility</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Doors (optional) </span>
                        <select name="Doors" id="sdoors" class="select-tag">
                            <option value="">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="1">1 Door</option>
                            <option value="2">2 Door</option>
                            <option value="3">3 Door</option>
                            <option value="4">4 Door</option>
                            <option value="5">5 Door</option>
                            <option value="6">6 Door</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Seats</span>
                        <input type="text" class="inp_form_tag" id="seatExchange" name="SeatNum" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Model Detail (optional) </span>
                        <input type="text" class="inp_form_tag" name="ModelDetail">
                    </div>

                    <div class="input-wrapper">
                        <span> Import History (optional) </span>
                        <select name="ImportHistory" id="sihistory" class="select-tag">
                            <option value="">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="Imported">Imported</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Previous Owners (optional) </span>
                        <select name="PreviousOweners" id="spoweners" class="select-tag">
                            <option value="" id="ownerExchange">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="New">New</option>
                            <option value="1 Owner">1 Owner</option>
                            <option value="2 Owners">2 Owner</option>
                            <option value="3 Owners">3 Owner</option>
                            <option value="4 Owners">4 Owner</option>
                            <option value="5+ Owners">5+ Owner</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Number plate or VIN</span>
                        <input type="text" class="inp_form_tag" id="vinExchange" name="vinNum" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Kilometres </span>
                        <input type="text" class="inp_form_tag" id="kMeterExchange" name="kMeters" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Colour</span>
                        <input type="text" class="inp_form_tag" id="colorExchange" name="Colour" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Engine Size (CC)</span>
                        <input type="text" class="inp_form_tag" id="engineExchange" name="engineSize" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Transmission</span>
                        <select name="Transmission" id="stransmission" class="select-tag" required>
                            <option value="" id="transmissionExchange">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                            <option value="Triptonic">Triptonic</option>
                            <option value="CVT">CVT</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Fuel Type </span>
                        <select name="FuelType" id="sfueltype" class="select-tag" required>
                            <option value="" id="fuelExchange">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="Petrol">Petrol</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Electric">Electric</option>
                            <option value="Hybrid">Hybrid</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Cylinders (Optional)</span>
                        <select name="Cylinders" id="scylinders" class="select-tag">
                            <option value="">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="Rotary">Rotary</option>
                            <option value="4 - Cylinder">4 - Cylinder</option>
                            <option value="5 - Cylinder">5 - Cylinder</option>
                            <option value="6 - Cylinder">6 - Cylinder</option>
                            <option value="8 - Cylinder">8 - Cylinder</option>
                            <option value="10 - Cylinder">10 - Cylinder</option>
                            <option value="12 - Cylinder">12 - Cylinder</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> WOF Expiry (Optional) </span>
                        <select name="WoFexpiry" id="swofexp" class="select-tag">
                                <option value="" id="wofexchange">Select WOF Expiry Date</option>
                                <option value="" id="wofsib" disabled>----------------------</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Reg. Expiry</span>
                        <select name="regExpiry" id="sexpirey" class="select-tag" required>
                                <option value="" id="regexchange">Select Reg Expiry Date</option>
                                <option value="" id="regsib" disabled>----------------------</option>
                        </select>
                    </div>
                    <div class="form_inp form2">

                        <div class="fuelstar">
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                        </div>
                    
                        <div class="safetystar">
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                        </div>
                    
                        <div class="drive-type">
                            <h3>drive type: 4WD</h3>
                            <input type="checkbox" name="DriveWheel4">
                        </div>
                    
                        <div class="orcincluded">
                            <h2>Are on road costs included?</h2>
                            <div><input type="radio" name="RoadCost" value="1">Yes - the car will be sold with a current WoF, licensing (rego) and road user charges</div>
                            <div><input type="radio" name="RoadCost" value="0">No - the buyer may need to pay additional costs to legally drive the car on NZ roads</div>
                        </div>
                    
                        <div class="describecar">
                            <h2>Describe the car</h2>
                            <textarea id="t_area" rows="6" placeholder="E.g. condition and other information" name="Description" required></textarea>
                        </div>
                        <div class="file_upload">
                            <h2>Upload Interior</h2>
                                <div class="int_images">
                                    <span class="containspan">
                                        <label for="Front">Front</label>
                                        <input class="input_preview" type="file" onclick="previewname(this)" name="interiorFront" id="Front" accept="image/*"/>
                                        <span id="interiorFront"></span>
                                    </span>

                                    <span class="containspan">
                                        <label id="intlab" for="Middle">Middle</label>
                                        <input class="input_preview" type="file" onclick="previewname(this)" name="interiorMiddle" id="Middle" accept="image/*" required />
                                        <span id="interiorMiddle"></span>
                                    </span>

                                    <span class="containspan">
                                        <label for="Rear">Rear</label>
                                        <input class="input_preview" type="file" onclick="previewname(this)" name="interiorRear" id="Rear" accept="image/*"/>
                                        <span id="interiorRear"></span>
                                    </span>

                                </div>
                                
                                <h2>Upload Exterior</h2>
                                <div class="ext_images">
                                    <span class="containspan">
                                        <label id="extlab" for="ExteriorInp">Exterior</label>
                                        <input type="file" name="exterior" onclick="previewname(this)" class="input_preview" id="ExteriorInp" accept="video/*" required/>  
                                        <span id="exterior"></span>
                                    </span>
                                </div>
                        </div>

                        <div class="dealer_details">
                            <div class="car_deadet">Car Dealer Details</div>
                            <div class="dealer_inputs">
                                <input class="inp_form_tag" type="text" placeholder="Name" name="DealerName">
                                <input class="inp_form_tag" id="dealer-em" type="text" placeholder="Email" name="DealerEmail">
                                <input class="inp_form_tag" type="text" placeholder="Phone" name="DealerNum">
                            </div>
                            <div class="input-wrapper">
                                <span id="car_a"> Location </span>
                                <input type="text" class="inp_form_tag" id="car_address" name="carAddr" required>
                            </div>
                        </div>
                    
                    <div class="progress-bar" id="ProgressBar">
                        <div id="progress-bar-fill">
                            <span id="progress-bar-text">0%</span>
                        </div>
                    </div>

                    <div  class="sub-btn">
                        <button type="submit" id="uploadFormSubmit">Submit</button>
                    </div>
            </form>
        </div>
        </div>
    </div>

    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/ajax/sellFormAjax.js"></script>
    <script src="/assets/scripts/MakeModel.js"></script>
    <script src="/assets/scripts/ajax/carJamAjax.js"></script>
    <script src="/assets/scripts/script.js"></script>
    <script src="/assets/scripts/starManager.js"></script>
</body>
</html>