<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/ico" sizes="16*16">
    <title>HooHoop</title>
</head>
<body>  
    <%-include('./Components/Header.ejs') %>
    <!-- navbar end -->
    <div class="sellform_wrap">
    <div class="VIN-input">
        <form  id="jamFORM">
            <h1 class="sell_head">Tell Us About the Vehicle you are selling</h1>
            <div class="ip_box">
                <input type="text" class="v_enter" placeholder="Enter your number plate or VIN" name="vinFigure" id="vinFigureID">
                <button type="submit">FIND</button>
                <h6 class="form_see" onclick="showform()"><a id="styledanchor" href="#SELL-FORM-SUB">Or Enter details Manually</a></h6>
            </div>
        </form>
        <%-include('./Components/Loader.ejs') %>
        <div class="car_info vanish" id="car_jam">
            <h1 id="checkDet">Check your car details</h1>
        </div>
    </div>

    <div class="sell_form_submission vanish" id="SELL-FORM-SUB">
            <div class="form_inp">
                
                <form id="uploadForm">
                    <div class="form_head">
                        <h1>selling price</h1>
                        <input type="text" placeholder="Preferred Selling Price" name="Price" required>
                        <input type="text" placeholder="Minimum Selling Price" name="minPrice" required>
                    </div>
                    
                    <div class="input-wrapper">
                        <span> Select Make </span>
                        <select name="Make" id="smake" class="select-tag" onchange="ModelAccumlator()">
                            <option value="NaN" id="makeExchange">Select Make</option>
                            <option value="" disabled>----------------------</option>
                            <option value="ALFA ROMEO">ALFA ROMEO</option>
                            <option value="ASTON MARTIN">ASTON MARTIN</option>
                            <option value="AUDI">AUDI</option>
                            <option value="AUSTIN">AUSTIN</option>
                            <option value="BMW">BMW</option>
                            <option value="CADILLAC">CADILLAC</option>
                            <option value="CHEVROLET">CHEVROLET</option>
                            <option value="CHRYSLER">CHRYSLER</option>
                            <option value="DAEWOO">DAEWOO</option>
                            <option value="DODGE">DODGE</option>
                            <option value="FERRARI">FERRARI</option>
                            <option value="FIAT">FIAT</option>
                            <option value="FORD">FORD</option>
                            <option value="FOTON">FOTON</option>
                            <option value="GMC">GMC</option>
                            <option value="HAVAL">HAVAL</option>
                            <option value="HOLDEN">HOLDEN</option>
                            <option value="HONDA">HONDA</option>
                            <option value="HUMMER">HUMMER</option>
                            <option value="HYUNDAI">HYUNDAI</option>
                            <option value="INFINITI">INFINITI</option>
                            <option value="ISUZU">ISUZU</option>
                            <option value="IVECO">IVECO</option>
                            <option value="JAGUAR">JAGUAR</option>
                            <option value="JEEP">JEEP</option>
                            <option value="KIA">KIA</option>
                            <option value="LAND ROVER">LAND ROVER</option>
                            <option value="LEMBO">LEMBO</option>
                            <option value="LEXUS">LEXUS</option>
                            <option value="LOTUS">LOTUS</option>
                            <option value="MAHINDRA">MAHINDRA</option>
                            <option value="MASERATI">MASERATI</option>
                            <option value="MCLAREN">MCLAREN</option>
                            <option value="MERCEDES BENZ">MERCEDES BENZ</option>
                            <option value="MG">MG</option>
                            <option value="MINI">MINI</option>
                            <option value="MITSUBISHI">MITSUBISHI</option>
                            <option value="NISSAN">NISSAN</option>
                            <option value="OPEL">OPEL</option>
                            <option value="PEUGEOT">PEUGEOT</option>
                            <option value="PORSCHE">PORSCHE</option>
                            <option value="RAM">RAM</option>
                            <option value="RENAULT">RENAULT</option>
                            <option value="RENAULT">RENAULT</option>
                            <option value="ROLLS ROYCE">ROLLS ROYCE</option>
                            <option value="ROVER">ROVER</option>
                            <option value="SAAB">SAAB</option>
                            <option value="SKODA">SKODA</option>
                            <option value="SMART">SMART</option>
                            <option value="SSANGYONG">SSANGYONG</option>
                            <option value="SUBARU">SUBARU</option>
                            <option value="SUZUKI">SUZUKI</option>
                            <option value="TESLA">TESLA</option>
                            <option value="TOYOTA">TOYOTA</option>
                            <option value="TRIUMPH">TRIUMPH</option>
                            <option value="TVR">TVR</option>
                            <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                            <option value="VOLVO">VOLVO</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Select Model </span>
                        <select name="Model" id="smodel" class="select-tag">
                                <option value="NaN" id="modelExchange">Select Make First</option>
                                <option value="" disabled>----------------------</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Select Model Year </span>
                        <select name="ModelYear" id="smodelyear" class="select-tag">
                            <option value="NaN" id="mYearExchange">Select Model Year</option>
                            <option value="" disabled>----------------------</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span>Body Type</span>
                        <select name="BodyType" id="sbodytype" class="select-tag">
                            <option value="NaN" id="bodyExchange">Select Body Type</option>
                            <option value="" disabled>----------------------</option>
                            <option value="Convertible">Convertible</option>
                            <option value="Hatchback">Hatchback</option>
                            <option value="Heavy Van">Heavy Van</option>
                            <option value="Light Van">Light Van</option>
                            <option value="Station Wagon">Station Wagon</option>
                            <option value="Utility">Utility</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Doors (optional) </span>
                        <select name="Doors" id="sdoors" class="select-tag">
                            <option value="">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="1">1 Door</option>
                            <option value="2">2 Door</option>
                            <option value="3">3 Door</option>
                            <option value="4">4 Door</option>
                            <option value="5">5 Door</option>
                            <option value="6">6 Door</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Seats (optional) </span>
                        <input type="text" class="inp_form_tag" id="seatExchange" name="SeatNum">
                    </div>

                    <div class="input-wrapper">
                        <span> Model Detail (optional) </span>
                        <input type="text" class="inp_form_tag" name="ModelDetail">
                    </div>

                    <div class="input-wrapper">
                        <span> Import History (optional) </span>
                        <select name="ImportHistory" id="sihistory" class="select-tag">
                            <option value="">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="">Imported</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Previous Owners (optional) </span>
                        <select name="PreviousOweners" id="spoweners" class="select-tag">
                            <option value="" id="ownerExchange">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="New">New</option>
                            <option value="1 Owner">1 Owner</option>
                            <option value="2 Owners">2 Owner</option>
                            <option value="3 Owners">3 Owner</option>
                            <option value="4 Owners">4 Owner</option>
                            <option value="5+ Owners">5+ Owner</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Number plate or VIN (optional) </span>
                        <input type="text" class="inp_form_tag" id="vinExchange" name="vinNum" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Kilometres </span>
                        <input type="text" class="inp_form_tag" id="kMeterExchange" name="kMeters" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Colour (Optional) </span>
                        <input type="text" class="inp_form_tag" id="colorExchange" name="Colour">
                    </div>

                    <div class="input-wrapper">
                        <span> Engine Size (CC) (Optional) </span>
                        <input type="text" class="inp_form_tag" id="engineExchange" name="engineSize">
                    </div>

                    <div class="input-wrapper">
                        <span> Transmission (Optional) </span>
                        <select name="Transmission" id="stransmission" class="select-tag">
                            <option value="" id="transmissionExchange">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="">Automatic</option>
                            <option value="">Manual</option>
                            <option value="">Triptonic</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Fuel Type </span>
                        <select name="FuelType" id="sfueltype" class="select-tag">
                            <option value="" id="fuelExchange">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="">Petrol</option>
                            <option value="">Diesel</option>
                            <option value="">Electric</option>
                            <option value="">Hybrid</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Cylinders </span>
                        <select name="Cylinders" id="scylinders" class="select-tag">
                            <option value="NaN">Don't Know</option>
                            <option value="" disabled>----------------------</option>
                            <option value="Rotary">Rotary</option>
                            <option value="4 - Cylinder">4 - Cylinder</option>
                            <option value="5 - Cylinder">5 - Cylinder</option>
                            <option value="6 - Cylinder">6 - Cylinder</option>
                            <option value="8 - Cylinder">8 - Cylinder</option>
                            <option value="10 - Cylinder">10 - Cylinder</option>
                            <option value="12 - Cylinder">12 - Cylinder</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> WOF Expiry (Optional) </span>
                        <select name="WoFexpiry" id="swofexp" class="select-tag">
                                <option value="" id="wofexchange">Select WOF Expiry Date</option>
                                <option value="" id="wofsib" disabled>----------------------</option>
                        </select>
                    </div>

                    <div class="input-wrapper">
                        <span> Reg. Expiry (Optional) </span>
                        <select name="regExpiry" id="sexpirey" class="select-tag">
                                <option value="" id="regexchange">Select Reg Expiry Date</option>
                                <option value="" id="regsib" disabled>----------------------</option>
                        </select>
                    </div>

                    <div class="form_inp form2">
                    
                        <div class="drive-type">
                            <h3>drive type: 4WD</h3>
                            <input type="checkbox" name="DriveWheel4">
                        </div>
                    
                        <div class="orcincluded">
                            <h2>Are on road costs included?</h2>
                            <div><input type="radio" name="RoadCost" value="1">Yes - the car will be sold with a current WoF, licensing (rego) and road user charges</div>
                            <div><input type="radio" name="RoadCost" value="0">No - the buyer may need to pay additional costs to legally drive the car on NZ roads</div>
                        </div>
                    
                        <div class="describecar">
                            <h2>Describe the car (optional)</h2>
                            <textarea id="t_area" rows="6" placeholder="E.g. condition and other information" name="Description"></textarea>
                        </div>
                        <div class="file_upload">
                            <h2>Upload Interior</h2>
                                <div class="int_images">
                                    <span class="containspan">
                                        <label for="Front">Front</label>
                                        <input class="input_preview" type="file" onclick="previewname(this)" name="interiorFront" id="Front" accept="image/*"/>
                                        <span id="interiorFront"></span>
                                    </span>

                                    <span class="containspan">
                                        <label for="Middle">Middle</label>
                                        <input class="input_preview" type="file" onclick="previewname(this)" name="interiorMiddle" id="Middle" accept="image/*" required />
                                        <span id="interiorMiddle"></span>
                                    </span>

                                    <span class="containspan">
                                        <label for="Rear">Rear</label>
                                        <input class="input_preview" type="file" onclick="previewname(this)" name="interiorRear" id="Rear" accept="image/*"/>
                                        <span id="interiorRear"></span>
                                    </span>

                                </div>
                                
                                <h2>Upload Exterior</h2>
                                <div class="ext_images">
                                    <span class="containspan">
                                        <label for="ExteriorInp">Exterior</label>
                                        <input type="file" name="exterior" onclick="previewname(this)" class="input_preview" id="ExteriorInp" accept="video/*" required/>  
                                        <span id="exterior"></span>
                                    </span>
                                </div>
                        </div>

                        <div class="dealer_details">
                            <div>Car Dealer Details</div>
                            <input class="inp_form_tag" type="text" placeholder="Name" name="DealerName">
                            <input class="inp_form_tag" type="text" placeholder="Email" name="DealerEmail">
                            <input class="inp_form_tag" type="text" placeholder="Phone" name="DealerNum">
                        </div>
                    
                    <div class="progress-bar" id="ProgressBar">
                        <div id="progress-bar-fill" onchange="redirect()">
                            <span id="progress-bar-text">0%</span>
                        </div>
                    </div>

                    <div  class="sub-btn">
                        <button type="submit" id="uploadFormSubmit">Submit</button>
                    </div>
            </form>
        </div>
        </div>
    </div>

    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/ajax/sellFormAjax.js"></script>
    <script src="/assets/scripts/MakeModel.js"></script>
    <script src="/assets/scripts/ajax/carJamAjax.js"></script>
    <script src="/assets/scripts/script.js"></script>
</body>
</html>