.chatbot_encloser {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 2000;
}

.chatbox_opened {
  box-shadow: 0 0 5px 5px #dfdfdf;
  min-height: 550px;
  width: 18vw !important;
  min-width: 300px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  position: absolute;
  flex-direction: column;
  display: none;
}

.chatbox_closed {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: #f5bf2b;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  transition: 0.4s;
  visibility: visible;
  opacity: 1;
  position: absolute;
  animation: shake 0.8s;
  animation-iteration-count: 2;
}

.ch_msg{
  position: relative;
}

.fchatmsg{
  position: absolute;
  padding: 20px;
  width: 350px;
  top: -200px;
  left: -380px;
  background-color: #f1f1f1;
  border-radius: 10px;
  font-size: 18px;
  font-family: Fira;
  font-weight: bold;
  color: black;
}

.fchatmsg::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  top: 100%;
  right: 5%;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

#chatter {
  background-color: #f2f2f2;
  overflow-x: hidden;
  position: relative;
  overflow: hidden;
  height: 465px;
}

.bg_head {
  height: 50px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closediv {
  height: 15px;
  width: 3px;
  border-radius: 5px;
  background-color: gray;
  position: absolute;
}

.closediv:nth-child(1) {
  transform: rotate(45deg);
}

.closediv:nth-child(2) {
  transform: rotate(-45deg);
}

.botcloser {
  border: none;
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 10px;
}

.logimgbot {
  height: 100%;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btxt {
  font-family: raleway;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  height: 100%;
  width: 70%;
}

.logimgbot img {
  height: 60%;
  width: 60%;
  border-radius: 60%;
}

.bg_foot {
  height: 35px;
  background-color: #e5e5e5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-family: Fira;
}

#toAppend {
  width: 100%;
  padding: 0 10px;
  height: 380px;
  max-height: 380px;
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: monospace;
}

#toAppend::-webkit-scrollbar {
  display: none;
}

.form-bot {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-user {
  margin: 20px 5px 20px auto;
  padding: 10px;
  background-color: #0e8afd;
  border-radius: 10px;
  border-top-right-radius: 0px;
  max-width: 80%;
  width: min-content;
  min-width: 20%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

#text-input {
  display: none;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

#click-input {
  display: flex;
  width: 100%;
}

#input-manager {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
}

#accept,
#reject {
  height: 100%;
  border: none;
  height: 50px;
  width: 50%;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}

#user-input {
  height: 35px;
  border: none;
  background-color: #fff;
  box-sizing: border-box;
  width: 89.2%;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
}

#send-air {
  border: none;
  height: 35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
  background-color: white !important;
}

#send-air img {
  height: 100%;
  width: 100%;
}

#accept {
  background-color: #55acee;
  transition: 0.2s;
}

#accept:hover,
#reject:hover {
  opacity: 0.8;
}

#reject {
  background-color: #292f33;
  transition: 0.2s;
}

/* Jumping Buttons */
div#wave {
  margin: 10px 0;
  visibility: hidden;
  position: relative;
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

div#wave .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 3px;
  background: #303131;
  animation: wave 0.7s linear infinite;
}

div#wave .dot:nth-child(2) {
  animation-delay: 0.175s;
}

div#wave .dot:nth-child(3) {
  animation-delay: 0.35s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3dtext-input(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (max-width: 480px) {
  .chatbot_encloser {
    right: 0 !important;
    bottom: 0 !important;
  }

  .chatbox_opened {
    border: 0 !important;
    position: fixed;
    top: 0;
    width: 100% !important;
    min-height: -webkit-fill-available;
  }

  #toAppend {
    max-height: 100vh;
  }
}
