.reg_body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}
.reg_link {
  font-family: Lato;
  transition: 0.2s;
}
.id_head {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: 700;
}
.headutext {
  font-family: Raleway;
}
.emailvwrap {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  flex-direction: column;
}
@media only screen and (max-width: 480px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
  header {
    padding: 0 !important;
  }
  .reg_body {
    padding-bottom: 500px;
  }
  .reg_link {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
  header {
    padding: 0 !important;
  }
  .reg_body {
    padding-bottom: 500px;
  }
  .reg_body {
    padding-bottom: 400px;
  }
  .reg_link {
    width: 90vw;
    display: flex;
    box-sizing: border-box;
    padding-left: 20px;
    align-items: center;
    margin: 5px 0;
  }
  .reg_link:nth-child(2) {
    border-left: 2px solid #e4e4e4;
  }
}
@media only screen and (min-width: 2000px) {
  .id_head {
    height: 3vw;
    font-size: 1.5vw;
  }
}
