.html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb{
    background-color: #F6B500;
    border-radius: 10px;
}

*:focus{
    outline: none;
}

/* Navbar */
.Head{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ajax-wrapper{
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo img{
    width: 250px;
}

.search-engine{
    display: flex;
}

.search-engine input{
    width: 500px;
    height: 40px;
    border: 1px solid #707070;
    outline: none;
    padding: 0 20px;
    font-size: larger;
    color: #707070;
}

.search-engine form{
    display: flex;
}

.mag-search{
    height: 40px;
    width: 40px;
    border-left: 0 !important;
    border: 1px solid #707070;
    background:#F6B500;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 1.5em;
    cursor: pointer;
}

.user-panel{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Fira;
    transition: 0.2s;
    cursor: pointer;
    font-size: 1.5em;
}

.user-panel a{
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.login-btn:hover{
    color: #000000;
    transition: 0.2s;
}

.sign-up{
    border: 10px solid orange;
    background: orange;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    opacity: 0.7;
}

.sign-up:hover{
    color: white;
    opacity: 1;
}

.menu-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: #ffffff;
    border: 1px solid #707070;
}

.menu-wrapper ul{
    list-style: none;
    display: flex;
}

.menu-wrapper ul li{
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    border: 20px solid transparent;
    font-family: Raleway;
    cursor: pointer;
}

.menu-wrapper ul li:hover{
    background-color: #F6B500;
    color: white;
}

.menu-wrapper a{
    color: black;
    text-decoration: none;
}

/* Slider */
.slider{
    height: 600px;
    width: 100%;
    display: flex;
    place-content: flex-start;
    place-items: center;
    background-image: url("../images/Slider.jpg"); 
    background-size: cover;
    background-position: 20% 50%;
}

.buy_car_wrapdiv{
    height: 100%;
    width: 30%;
    display: flex;
    place-content: flex-end;
    place-items: center;
}

.buy-car{
    height: 90%;
    width: 75%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background: white;
}

.card_headline{
    height: 15%;
    width: 70%;
    margin-top: 20px;
    display: flex;
    place-items: flex-end;
    place-content: flex-start;
    padding-left: 50px;
    font-size: 50px;
    font-family: Fira;
    font-weight: bold;
}

.data_fetch{
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
    align-items: center;
    height: 75%;
}

.card_input_info{
    height: 100%;
    width: 90%;
    display: flex;
    place-items: center;
    place-content: center;
    flex-direction: column;
}

.card_input_info div select{
    height: 100%;
    width: 100%;
    text-align-last: center;
    font-size: x-large;
    color: gray;
    font-family: Poppins;
}

.input_div{
    height: 15%;
    width: 80%;
    cursor: pointer;
    text-align: center;
}

.input_div select{
    background-color: white !important;
}

.input_div + .input_div{
    margin-top: 10px;
}

.submit_input_info{
    height: 20%;
    width:100%;
    display: flex;
    place-content: center;
    place-items: flex-start;
}

.submit_data{
    height: 80%;
    width: 60%;
    background-color: #F6B500;
    border: none;
    border-radius: 10px;
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Fira;
    cursor: pointer;
}

/* Home-Content */

.car_data_wrapper{
    height: 500px;
    width: 70%;
    box-shadow: 0px 0px 1px 1px rgb(230, 230, 230);
    margin: 50px 0;
    border-radius: 5px;
}

.card_head{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    display: flex;
    place-items: center;
    place-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.card_head *{
    margin: 0;
    padding: 0;
}

.car_type_filter{
    height: 20%;
    width: 90%;
    font-family: Fira;
    box-sizing: border-box;
    margin: 0;
}

.car_type_filter h1{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

* hr{
    background: #c9c9d4;
    height: 1px;
    width: 100%;
    border: none;
    margin: 0;
    margin-bottom: 5px;
}

.filter_item{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter_item ul{
    display: flex;
    padding: 0;
}

.item_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item_content + .item_content{
    margin-left: 20px;
}

.selected_item::after{
    content: "";
    height: 5px;
    width: 100%;
    left: 0;
    background: orange;
    margin-top: 10px;
}

.car_data_info_card{
    height: 75%;
    width: 90%;
    display: inline-flex;
    place-items: center;
    place-content: start;
    padding-left: 2px;
    overflow: auto;
    overflow-y: none;
}

.car_data_info_card::-webkit-scrollbar{
    display: none;
}

.car_data_card{
    height: 90%;
    min-width: 24.5%;
    box-shadow: 1px 1px 1px 1px rgb(230, 230, 230);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.car_data_card + .car_data_card{
    margin-left: 10px;
}

.car_image_data{
    height: 70%;
    width: 100%;
    background-color: royalblue;
}

.car_image_data img{
    height: 100%;
    width: 100%;
}

.car_fetched_info{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fetched_data{
    font-family: Fira;
    text-align: center;
    font-size: 14px;
}

.view-details{
    border: 1px solid #F6B500;
    font-family: Fira;
    color: #F6B500;
    text-transform: uppercase;
    background-color: transparent;
    height: 40px;
    width: 90%;
    transition: 0.1s;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: white !important;
}

.view-details:hover{
    background-color: #F6B500 !important;
    color: white;
    cursor: pointer;
}

.view_all_selected_v-type{
    height: 8%;
    width: 90%;
    display: flex;
    justify-content: center;
    font-family: Fira;
    flex-direction: column;
}

.view_all_selected_v-type hr{
    margin-bottom: 5px;
}

.view_all_selected_v-type div:hover{
    color: green;
    user-select: none;
    cursor: pointer;
}

/* Sell-Car-Page */

.ad_enclosure{
    height: 600px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: 0px 0px 20px 10px #dadada;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.pakages{
    font-size: 40px;
    font-family: Fira;
}

.h-logo{
    height: 100px;
    width: 400px;
}

.h-logo img{
    height: 100%;
    width: 100%;
}

.pakage_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ad_price{
    display: flex;
    place-content: center;
    place-items: center;
}

.ad_price{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    width: 50px;
    font-family: Poppins;
}

.ad_price h2{
    padding-bottom: 5px;
}

.pakage_info{ 
    font-family: Fira;
}

.pakage_info button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: Fira;
}

.pakage_info button:hover{
    width: 250px;
    background-color: #F6B500;
}

.VIN-input{
    min-height: 25vh;
    min-width: 1000px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.VIN-input form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sell_head{
    text-transform: capitalize;
    font-family: Fira;
}

.v_enter{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #808080;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 24px;
    color: gray;
    font-family: Raleway;
}

.v_enter:focus{
    border: 2px solid #43b4ff;
}

.ip_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ip_box button{
    border: none;
    text-transform: uppercase;
    background-color: #43b4ff;
    color: white;
    font-size: larger;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 85%;
    height: 100%;
    cursor: pointer;
}

.car_info{
    font-family: Fira;
    margin: 50px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #f5bf2b;
    border-radius: 10px;
}

.vanish{
    display: none;
}

.car_info h1{
    margin-bottom: 50px;
    margin-top: 0;
}

.car_api_data{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.a_dta{
    font-size: large;
}

.sell_form_submission{
    display: flex;
    min-height: 20vh;
    min-width: 1000px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
}

.form_head{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #f5bf2b;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.form_head h1{
    text-transform: capitalize;
    font-family: Fira;
}

.form_head input{
    margin-left: 20px;
    height: 50%;
    width: 30%;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 20px;
    font-size: 20px;
    color: gray;
    font-family: Raleway;
    box-sizing: border-box;
}

.form_inp{
    width: 100%;
    height: 50vh;
}

/* select-tag-css */

.select{
    height: 30px;
    width: 250px;
    border: 2px solid gray;   
    border-radius: 5px;
    position: relative; 
    cursor: pointer;
}

.placeholder{
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: Fira;
    color: gray;
    text-transform: capitalize;
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    justify-content: space-between;
}

.placeholder_text{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.select_opener{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_opener hr{
    height: 2px;
    width: 15px;
    border: none;
    background-color: black;
}

.select_opener hr:nth-child(1){
    transform: rotate(45deg) translateX(5px);
}

.select_opener hr:nth-child(2){
    transform: rotate(-45deg) translateX(-3.5px) translateY(1.5px);
}

.opt_enclose{
    width: 100%;
    border-radius: 5px;
    font-size: 25px;
    position: absolute;
    margin-top: 40px;
    display: none;
    z-index: 10;
}

.option{
    cursor: pointer;
    width: 100%;
    height: 30px;
    font-family: Fira;
    padding-left: 10px;
    box-sizing: border-box;
}

.option:nth-last-child(1){
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.option:hover{
    background-color: #43b4ff;
}

/* select-tag-css */