body,
html {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #1ea1f3;
  transition: 0.2s;
}
a:hover {
  color: #f5bf2b;
}
#loader {
  margin: 50px auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  display: none;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes heart {
  0% {
    transform: scale(1.3) rotate(15deg);
  }
  100% {
    transform: scale(0) rotate(0);
  }
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #f6b500;
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
:focus {
  outline: 0;
}
.Head {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 0;
}
.ajax-wrapper {
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #fff;
}
.logo img {
  width: 250px;
}
.search-engine {
  display: flex;
}
.search-engine input {
  width: 500px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 50px;
  outline: 0;
  padding: 0 20px;
  font-size: larger;
  color: #707070;
}
.search-engine input::placeholder {
  text-transform: none;
}
.search-engine input:valid {
  text-transform: uppercase;
}
.search-engine form {
  position: relative;
  display: flex;
}
.search-engine form button {
  position: absolute;
  right: 0;
  border-radius: 50px;
  height: 100%;
}
.mag-search {
  height: 40px;
  width: 40px;
  border-left: 0 !important;
  border: none;
  transform: scale(0.85);
  background: #f6b500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
}
.user-panel {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Fira;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1.5em;
}
.user-panel a {
  color: #b4b4b4;
}
.login-btn:hover {
  color: #000;
  transition: 0.2s;
}
.sign-up {
  border: 10px solid orange;
  background: orange;
  color: #fff;
  border-radius: 5px;
  margin-left: 20px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}
.sign-up:hover {
  color: #fff;
  opacity: 1;
}
.hamburger {
  cursor: pointer;
  z-index: 1001;
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: #333;
  border-radius: 10px;
  margin: 3px 0;
  transition: 0.4s;
}
.bar2 {
  width: 80%;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-10px, 6px);
  background-color: #fff;
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-10px, -6px);
  background-color: #fff;
}
.ham_menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  height: 100vh;
  top: -100vh;
  width: 100%;
  transition: 0.4s;
  background-color: #222;
}
.ham_menu_show {
  top: 0;
  z-index: 1000;
  transition: 0.4s;
}
.ham_options {
  height: 40px;
  width: 80%;
  font-size: 20px;
  font-family: Raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #1ea1f3;
  border: none;
  border-radius: 5px;
}
.ham_options {
  margin: 10px 0;
}
.search_active input {
  height: 35px;
  width: 80vw;
  margin: 20px 0;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Poppins;
}
.s_ac_btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.se_btn {
  height: 30px;
  width: 40%;
  background-color: #0a75bd;
  color: #fff;
  font-size: 20px;
  font-family: Raleway;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin: 10px 0;
}
.headtext {
  font-size: 25px;
  font-family: Roboto;
  color: #fff;
  margin-bottom: 20px;
}
.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: #fff;
  border: 1px solid #e1e1e1;
}
.menu-wrapper ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.menu-wrapper ul li {
  font-size: 1.1em;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  border: 20px solid transparent;
  font-family: Raleway;
  cursor: pointer;
}
.menu-wrapper ul li:hover {
  background-color: #f6b500;
  color: #fff;
}
.menu-wrapper a {
  color: #000;
}
.userico {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.userico i {
  font-size: 50px;
  color: #d4d4d4;
}
.user_options {
  width: 150px;
  position: absolute;
  top: 60px;
  background-color: #f2f2f2;
  border-radius: 5px;
  visibility: hidden;
  z-index: 100;
  opacity: 0;
  transition: 0.15s;
}
.user_options div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 40px;
  color: #000;
}
.userprofile {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.userlogout {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.userlogout a {
  color: #000;
}
.user_options div:hover {
  background-color: #d4d4d4;
}
.buy-car {
  height: 85%;
  width: 400px;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  left: 50px;
}
.input_div {
  height: 15%;
  width: 80%;
  cursor: pointer;
  text-align: center;
}
.input_div + .input_div {
  margin-top: 10px;
}
.submit_data {
  height: 80%;
  width: 60%;
  background-color: #f6b500;
  border: none;
  border-radius: 10px;
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Fira;
  cursor: pointer;
}
button:disabled,
button[disabled] {
  color: #fff;
  cursor: not-allowed !important;
}
#error-flash {
  position: absolute;
  margin-top: -80px;
  color: rgba(255, 47, 47, 0.884);
  font-size: 22px;
  font-weight: 700;
  font-family: Raleway;
  transition: 0.3s ease-in-out;
}
.sell_head {
  text-transform: capitalize;
  font-family: Fira;
}
.vanish {
  display: none !important;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
.input-wrapper span {
  font-family: Poppins;
  padding-left: 20px;
}
#car_a {
  margin: 10px auto;
  padding: 0;
  font-family: Fira;
}
.form_head {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: #f5bf2b;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 40px;
}
.form_head input {
  margin-left: 20px;
  height: 50%;
  width: 30%;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 20px;
  font-size: 20px;
  color: gray;
  font-family: Raleway;
  box-sizing: border-box;
}
.form2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.button-2 {
  height: 30px;
  width: 100px;
  font-size: 20px;
  color: #fff;
  background-color: #008ec2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 20px;
}
.button-2:hover {
  background-color: #f5bf2b;
}
.buy_car_wrap {
  width: min-content;
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  padding-bottom: 100px;
}
.id_head {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: 700;
}
.panel_body {
  width: 100%;
}
.submit-button {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  background-color: #f5bf2b;
  color: #fff;
  cursor: pointer;
}
.User_listings_wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  min-height: 100vh;
  margin: 20px 0;
  min-width: 80vw;
}
.show_f {
  margin-left: 50px;
  width: 600px;
}
.foot {
  width: 100%;
  min-height: 100px;
  background-color: #2c2e3b;
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 2001;
  justify-content: center;
  align-items: center;
}
.quick_links_wrap ul {
  display: flex;
  color: #fff;
}
.quick_links_wrap ul li {
  list-style: none;
  margin: 10px;
  padding: 0 10px;
  font-family: Lato;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
}
.quick_links_wrap ul li a {
  transition: 0.1s;
  color: #fff;
}
.quick_links_wrap ul li a:hover {
  color: #f6b500;
}
.social_wrap {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: Poppins;
  box-sizing: border-box;
}
.connect_with_us {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #e1e1e1;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.connect_with_us a:nth-child(1) div {
  background-image: linear-gradient(to right, #e73f70, #4267b2);
}
.connect_with_us a:nth-child(2) div {
  background-color: #4267b2;
}
.connect_with_us a:nth-child(3) div {
  background-color: #1ea1f3;
}
.social:hover {
  color: #aa664c;
}
.about-us-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  background-color: #fff;
}
.FAQ-wrapper {
  width: 60% !important;
  margin: 100px auto 0 auto;
  padding-bottom: 200px;
}
.terms_of_use {
  width: 60%;
  margin: 100px auto 0 auto;
  padding-bottom: 200px;
}
.contact-us-wrapper {
  width: 60%;
  margin: 100px auto 0 auto;
  padding-bottom: 200px;
}
.contact-us-wrapper form label {
  font-family: Roboto;
}
.contact-us-wrapper input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Raleway;
  font-size: 20px;
}
.contact-us-wrapper input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Raleway;
  font-size: 20px;
}
input[type="submit"] {
  background-color: orange;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: orange;
}
.flash_msg {
  width: 100%;
  border-radius: 5px;
  font-family: Roboto;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  position: relative;
  justify-content: space-between !important;
  transition: 0.3s;
  max-width: 1000px;
}
.flash_msg_warning {
  background-color: #fb0;
}
.flash_msg_success {
  background-color: rgba(0, 105, 0, 0.678);
}
.flash_msg_danger {
  background-color: rgba(250, 46, 46, 0.719);
}
.close {
  border: none;
  background-color: transparent;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10%;
  font-size: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
  .logo img {
    width: 45vw;
  }
  .search-engine,
  .user-panel {
    display: none;
  }
  .menu-wrapper ul li {
    font-size: 1em;
  }
  header {
    padding: 0 !important;
  }
  .hamburger {
    display: block;
  }
  .change .bar1 {
    transform: rotate(-45deg) translate(-10px, 0);
    background-color: #fff;
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-10px, 0);
    background-color: #fff;
  }
  .buy-car {
    height: 100vw;
    width: 80vw;
    left: 12%;
  }
  .submit_data {
    font-size: 8vw;
  }
  .button-2 {
    margin: 0;
  }
  .buy_car_wrap {
    flex-direction: column;
    align-items: center;
    padding-bottom: 500px;
  }
  .sell_head {
    font-size: 16px;
    text-align: center;
  }
  .form_head {
    flex-direction: column;
    padding: 0;
    min-height: 180px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  .form_head input {
    width: 90%;
    margin-left: 0;
    margin-top: 5px;
  }
  .input-wrapper {
    width: 90vw;
  }
  .FAQ-wrapper,
  .about-us-wrapper,
  .contact-us-wrapper,
  .terms_of_use {
    padding-bottom: 600px;
    width: 90vw !important;
    margin: 0 auto;
  }
  .User_listings_wrapper {
    width: 90vw;
  }
  .foot {
    min-height: 500px;
    flex-direction: column;
  }
  .cpyrght {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .social_wrap {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .quick_links_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quick_links_wrap ul {
    flex-direction: column;
    padding: 0;
  }
  .quick_links_wrap ul li {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
  .logo img {
    width: 45vw;
  }
  .search-engine,
  .user-panel {
    display: none;
  }
  .menu-wrapper ul li {
    font-size: 1em;
  }
  header {
    padding: 0 !important;
  }
  .buy-car {
    height: 50vw;
    width: 40vw;
    left: 12%;
  }
  .submit_data {
    font-size: 3vw !important;
  }
  .submit_data {
    font-size: 8vw;
  }
  .button-2 {
    margin-right: 20px;
  }
  .buy_car_wrap {
    flex-direction: column;
    align-items: center;
    padding-bottom: 400px;
  }
  .foot {
    min-height: 200px;
    flex-direction: column;
  }
  .cpyrght {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .social_wrap {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .quick_links_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quick_links_wrap ul {
    flex-direction: column;
    padding: 0;
  }
  .quick_links_wrap ul li {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 769px) {
  .logo img {
    width: 30vw;
  }
  .search-engine,
  .user-panel {
    display: none;
  }
  .menu-wrapper ul li {
    font-size: 1.2em;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1101px) {
  .search-engine,
  .search-engine input {
    width: auto;
  }
}
@media only screen and (min-width: 2000px) {
  .id_head {
    height: 3vw;
    font-size: 1.5vw;
  }
}
