.user_options {
  width: 150px;
  position: absolute;
  top: 60px;
  background-color: #f2f2f2;
  border-radius: 5px;
  visibility: hidden;
  z-index: 100;
  opacity: 0;
  transition: 0.15s;
}
.user_options div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 40px;
  color: #000;
}
.user_options div:hover {
  background-color: #d4d4d4;
}
.buy-car {
  height: 85%;
  width: 400px;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  left: 50px;
}
.submit_data {
  height: 80%;
  width: 60%;
  background-color: #f6b500;
  border: none;
  border-radius: 10px;
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Fira;
  cursor: pointer;
}
.view-details {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Fira;
  height: 40%;
  width: 100%;
  background-color: rgba(255, 255, 255);
  border-radius: 40%;
  margin-top: -100px;
  transition: 0.2s;
  opacity: 0.85;
}
.sell_head {
  text-transform: capitalize;
  font-family: Fira;
}
.car_info {
  font-family: Fira;
  margin: 50px 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #fae29f;
  border-radius: 10px;
}
.car_info h1 {
  margin-bottom: 50px;
  margin-top: 0;
}
.sell_form_submission {
  display: flex;
  min-height: 50vh;
  width: 1000px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
}
#car_a,
#car_address {
  margin: 10px auto;
  padding: 0;
  font-family: Fira;
}
.form_head {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: #f5bf2b;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 40px;
}
.form_head h1 {
  text-transform: capitalize;
  font-family: Fira;
}
.form2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#t_area {
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
}
.contact_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: Raleway;
  font-size: 20px;
  font-weight: lighter;
}
.contact_details div:nth-child(2) {
  margin: 10px 10px;
}
.contact_details div:nth-child(3) {
  margin: 0 10px;
}
.card {
  min-height: 550px;
  width: 400px;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 3px 3px #e6e6e6;
  position: relative;
}
.no-car {
  font-family: Raleway;
  width: 100%;
  font-size: 32px;
  text-align: center;
  margin-top: 35vh;
  margin-bottom: 20vh;
}
.car_name_price {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Fira;
  font-size: 30px;
  font-weight: 700;
}
.c_price {
  color: orange;
}
.Additional_info,
.Listing_id,
.seller_info {
  width: 350px;
  background-color: #f5bf2b;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 1px gray;
}
.id_head,
.seller_head {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: 700;
}
.share_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  box-shadow: 10px 10px 10px 1px gray;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.share_data {
  font-size: 25px;
  font-family: Raleway;
  font-weight: 700;
}
.share {
  display: flex;
  justify-content: flex-end !important;
}
.social_share {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 5px;
}
.p-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.p-body form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: Poppins;
  width: 100%;
}
.listing_card {
  height: 550px;
  width: 350px;
  margin: 20px 10px;
  box-shadow: 0 0 5px 5px #e1e1e1;
}
.list_info {
  display: flex;
  flex-direction: column;
  height: 35%;
}
.list_info div {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  border-bottom: 1px solid #f1f1f1;
  font-family: Lato;
}
.d_edit {
  background-color: #0a9cb3;
}
.d_delete {
  background-color: #d32a3b;
}
.offer {
  width: 90%;
  background-color: #f6b40048;
  margin: 20px 0;
  display: flex;
}
.ico_hold i {
  font-size: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #747474;
}
.edit_details {
  margin-top: 20px;
}
.social {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #e1e1e1;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.share a:nth-child(1) div {
  background-image: linear-gradient(to right, #e73f70, #4267b2);
}
.share a:nth-child(2) div {
  background-color: #4267b2;
}
.share a:nth-child(3) div {
  background-color: #1ea1f3;
}
.social:hover {
  color: #aa664c;
}
.single-policy {
  font-family: Raleway;
}
.single-policy h3 {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.terms_of_use {
  width: 60%;
  margin: 100px auto 0 auto;
  padding-bottom: 200px;
}
.terms_of_use h3 {
  font-size: 30px;
  font-family: Roboto;
}
.terms_of_use h4 {
  font-size: 24px;
  font-family: Poppins;
}
.terms_of_use p {
  font-family: Raleway;
}
.terms_of_use ol li {
  font-family: Raleway;
  margin-top: 10px;
}
.Disclaimer {
  font-family: Lato !important;
}
.close {
  border: none;
  background-color: transparent;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10%;
  font-size: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
  header {
    padding: 0 !important;
  }
  .buy-car {
    height: 100vw;
    width: 80vw;
    left: 12%;
  }
  .submit_data {
    font-size: 8vw;
  }
  .card {
    width: 90vw;
    min-height: 500px;
  }
  .car_name_price {
    font-size: 5vw;
    height: 20vw;
    align-items: center;
  }
  .Additional_info,
  .Listing_id,
  .seller_info {
    margin: 10vw auto;
    width: 90vw;
  }
  .share_info {
    width: 90vw;
    margin: 0 auto;
  }
  .sell_head {
    font-size: 16px;
    text-align: center;
  }
  .sell_form_submission {
    width: 90vw;
  }
  .form_head {
    flex-direction: column;
    padding: 0;
    min-height: 180px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  .terms_of_use {
    padding-bottom: 600px;
    width: 90vw !important;
    margin: 0 auto;
  }
  .listing_card {
    transform: scale(0.9);
    margin: 0 10px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
  header {
    padding: 0 !important;
  }
  .buy-car {
    height: 50vw;
    width: 40vw;
    left: 12%;
  }
  .submit_data {
    font-size: 3vw !important;
  }
  .submit_data {
    font-size: 8vw;
  }
  .car_name_price {
    font-size: 5vw;
    height: 20vw;
    align-items: center;
  }
  .Additional_info,
  .Listing_id,
  .seller_info {
    margin: 10vw auto;
    width: 90vw;
  }
  .share_info {
    width: 90vw;
    margin: 0 auto;
  }
  .card {
    width: 400px;
    min-height: 500px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 769px) {
  .car_name_price {
    font-size: 3vw;
    height: 10vw;
    width: 90vw;
    align-items: center;
  }
  .Additional_info,
  .Listing_id,
  .seller_info {
    margin: 5vw auto;
    margin-top: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1101px) {
  .car_name_price {
    width: 60vw;
  }
  .car_name_price {
    font-size: 2.5vw;
    align-items: center;
  }
}
@media only screen and (min-width: 2000px) {
  .Additional_info,
  .Listing_id,
  .seller_info {
    width: 20vw;
  }
  .id_head,
  .seller_head {
    height: 3vw;
    font-size: 1.5vw;
  }
}
